@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Big Shoulders Display', cursive;
    
}

.container {
    background: #f2f2f2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

box {
    padding: 30px;
}

.box1 {
    background: #e38826;
}

.box2 {
    background: #006970;
}

.box3 {
    background: #004241;
}

img {
    margin-bottom: 20px;
}

.head-text {
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #f2f2f2;
    font-weight: 700;
}

p {
    color: rgba(255, 255, 255, 0.75);
    font-weight: 400;
}

.button {
    font-weight: 400;
    border-radius: 30px;
    width: 70%;
    height: 40px;
    cursor: pointer;
}

@media (min-width: 600px) {

    .container {
        height: 657px;
    }
    
    .box {
        padding: 30px;
        padding-right: 0;
        padding-left: 45px;
        height: 400px;
    }
    
    .box1 {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .box3 {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    p {
        text-align: left;
        padding-right: 53px;
        margin-bottom: 50px;
    }
    
    .button {
        border: 2px solid #f2f2f2;
        color: #f2f2f2;
    }
    
    .button1 {
        background: #e38826;
    }
    
    .button2 {
        background: #006970;
    }
    
    .button3 {
        background: #004241;
    }
    
}

@media (max-width: 375px) {

    .boxes {
        margin: 20px;
    }

    .box {
        padding: 30px;
        padding-left: 45px;
        height: 370px;
        width: 300px;
    }
    
    .box1 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .box3 {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    img {
        margin-bottom: 20px;
    }
    
    h1 {
        margin-bottom: 20px;
        text-transform: uppercase;
        color: #f2f2f2;
    }
    
    p {
        padding-right: 53px;
        margin-bottom: 30px;
    }
    
    .button {
        background: #f2f2f2;
        border-style: none;
    }
 
    .button1 {
        color: #e38826;
    }
    
    .button2 {
        color: #006970;
    }
    
    .button3 {
        color: #004241;
    }

}
